<html ng-app="surfNotes">
    <head>
        <script rel="text/javascript" src="../vendor/js/angular.js"></script>
        <script rel="text/javascript" src="../vendor/js/markdown.min.js"></script>
        <link rel="stylesheet" href="../vendor/css/bootstrap.css">
        <link rel="stylesheet" href="dashboard.css">
        <script rel="text/javascript" src="dashboard.js"></script>
    </head>
    <body ng-controller="notesController" ng-model="filterSitesBy">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="page-title"><h1>All Notes</h1></div>
                <input ng-model="noteSearch" placeholder="search through notes">
                <br>
                <br>
                <ul id="notes" class="list-group">
                    <list-Notes></list-Notes>
                </ul>
            </div>
        </div>
    </body>
</html>
