<li ng-repeat="note in notes | filter: noteSearch" id="{{ note.uuid }}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="panel-info">
                <h5>{{ note.title }}</h5>
                <dl class="dl-horizontal">
                    <dt>Site:</dt>
                    <dd>{{ note.hostname }}</dd>
                    <dt>Page</dt>
                    <dd><a href="{{ note.url }}">{{ note.url| limitTo: 50 }}</a></dd>
                    <dt>Created on:</dt>
                    <dd>{{ note.created_at }}</dd>
                    <dt>Last updated:</dt>
                    <dd>{{ note.modified_at }}</dd>
                </dl>
                <div class="note-preview" ng-bind-html="note.notePreview"></div>
            <button ng-click="delete(note.uuid)" class="pull-left btn btn-danger">delete</button>
            </div>
        </div>
    </div>
</li>
