html,
body {
    height: 100%;
    /* background-color: #b2e5f0; */
    background-color: #FCF0AD;
}

body {
  /* padding: 2em 0; */
}

textarea {
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent transparent #f2f2f2;
  outline: none;
  /* background-color: #f0bdb2; */
}

.full-height {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.full-width{
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.fixed {
  position: fixed;
}

#preview {
    /* background: #eee; */
    display: block;
}
#note {
    /* background: #ccc; */
    display: none;
}

html:hover #preview {
    display: none;
}
html:hover #note {
    display: block;
}
